*.pyc
.ipynb_checkpoints
lib/build
lib/pycocotools/_mask.c
lib/pycocotools/_mask.so
.idea/*
## General

# Compiled Object files
caffe-fast-rcnn/*.slo
caffe-fast-rcnn/*.lo
caffe-fast-rcnn/*.o
caffe-fast-rcnn/*.cuo

# Compiled Dynamic libraries
caffe-fast-rcnn/*.so
caffe-fast-rcnn/*.dylib

# Compiled Static libraries
caffe-fast-rcnn/*.lai
caffe-fast-rcnn/*.la
caffe-fast-rcnn/*.a

# Compiled protocol buffers
caffe-fast-rcnn/*.pb.h
caffe-fast-rcnn/*.pb.cc
caffe-fast-rcnn/*_pb2.py

# Compiled python
caffe-fast-rcnn/*.pyc

# Compiled MATLAB
caffe-fast-rcnn/*.mex*

# IPython notebook checkpoints
caffe-fast-rcnn/.ipynb_checkpoints

# Editor temporaries
caffe-fast-rcnn/*.swp
caffe-fast-rcnn/*~

# Sublime Text settings
caffe-fast-rcnn/*.sublime-workspace
caffe-fast-rcnn/*.sublime-project

# Eclipse Project settings
caffe-fast-rcnn/*.*project
caffe-fast-rcnn/.settings

# QtCreator files
caffe-fast-rcnn/*.user

# PyCharm files
caffe-fast-rcnn/.idea

# Visual Studio Code files
caffe-fast-rcnn/.vscode

# OSX dir files
caffe-fast-rcnn/.DS_Store

## Caffe

# User's build configuration
#Makefile.config

# Data and models are either
# 1. reference, and not casually committed
# 2. custom, and live on their own unless they're deliberated contributed
caffe-fast-rcnn/data/*
caffe-fast-rcnn/models/*
caffe-fast-rcnn/*.caffemodel
caffe-fast-rcnn/*.caffemodel.h5
caffe-fast-rcnn/*.solverstate
caffe-fast-rcnn/*.solverstate.h5
caffe-fast-rcnn/*.binaryproto
caffe-fast-rcnn/*leveldb
caffe-fast-rcnn/*lmdb

# build, distribute, and bins (+ python proto bindings)
build
caffe-fast-rcnn/.build_debug/*
caffe-fast-rcnn/.build_release/*
caffe-fast-rcnn/distribute/*
caffe-fast-rcnn/*.testbin
caffe-fast-rcnn/*.bin
caffe-fast-rcnn/python/caffe/proto/
caffe-fast-rcnn/cmake_build
caffe-fast-rcnn/.cmake_build

# Generated documentation
caffe-fast-rcnn/docs/_site
caffe-fast-rcnn/docs/_includes
caffe-fast-rcnn/docs/gathered
caffe-fast-rcnn/_site
caffe-fast-rcnn/doxygen
caffe-fast-rcnn/docs/dev

# LevelDB files
caffe-fast-rcnn/*.sst
caffe-fast-rcnn/*.ldb
caffe-fast-rcnn/LOCK
caffe-fast-rcnn/LOG*
caffe-fast-rcnn/CURRENT
caffe-fast-rcnn/MANIFEST-*
